<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="maxFileSize" defaultValue="25MB" value="${logback.maxFileSize}"/>
    <property name="maxHistory" defaultValue="3" value="${logback.maxHistory}"/>
    <property name="totalSizeCap" defaultValue="300MB" value="${logback.totalSizeCap}"/>
    <property name="logLevel" defaultValue="INFO" value="${logback.logLevel}"/>
    <property name="appender" defaultValue="Async_Appender" value="${logback.appender}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{ISO8601}|${serviceName:-SERVICE}|%highlight(%p)|[%thread]|%logger{36} - %highlight(%m%n)
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT_COLOR"/>
    </root>
</configuration>